@model CulinaryBlogCore.Models.RecipeViewModels.RecipeHomeViewModel;

@using CulinaryBlogCore.Models.RecipeViewModels;

@{
    ViewData["Title"] = "Cooking";
    Func<RecipeViewModel, string> descriptionSubstr = (r) => r.Description.Substring(0, Math.Min(r.Description.Length, 100));
    Func<RecipeViewModel, bool> isNotOwner = (r) => User.Identity.IsAuthenticated && Model.CurrUserId != r.UserId;
}

<section class="site-logo">
    <div>
        <h2>Cooking</h2>
        <hr>
        <p>easy and fun</p>
    </div>
</section>
<section class="about-us">
    <div>
        <h2>About us</h2>
        <hr>
        <p>We are professionals in this area.</p>
    </div>
    <p>
        We are a group of young people for whom cooking is a hobby. Here you will find interesting recipes that are easy to prepare. Our goal is to save your time and show you that cooking can be both art and entertainment. The products used are healthy and low calorie. We've picked recipes from all over the world to experience other cultures and tastes. We are very keen to get feedback from you.
    </p>
</section>
<section class="best-receipts">
    <div class="best-receipts-title">
        <h2>Best recipes of the week</h2>
        <hr>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="create-recipe-button">
            @if (User.IsInRole("Admin"))
            {
                <a href="/Administration/Recipe/Create">Create</a>
            }
            else
            {
                <a href="/Recipe/Create">Create</a>
            }
        </div>
    }
    <div class="best-receipts-posts">
        @foreach (RecipeViewModel recipe in Model.RecipesByRating)
        {
            @functions {
                public string GetUserRatingClass(RecipeViewModel recipe)
                {
                    return recipe.UserRating == 0 ? "rating" : "rating-already";
                }
            }
            <article>
                @if (User.IsInRole("Admin") || Model.CurrUserId == recipe.UserId)
                {
                    <a href="/Recipe/Update/@recipe.Id">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="/Recipe/Delete/@recipe.Id">
                        <i class="fas fa-times"></i>
                    </a>
                }
                <div>
                    <img src="@recipe.ImagePath" alt="pasta">
                </div>
                <div>
                    <h4>@recipe.Name</h4>
                    <p class="@GetUserRatingClass(recipe)">
                        @if (isNotOwner(recipe) && recipe.UserRating == 0)
                        {
                            <span class="ratring-stars" data-recipe-id="@recipe.Id">
                                @for (int i = 5; i >= 1; i--)
                                {
                                    <span class="rating-star" data-rating="@i">☆</span>
                                }
                            </span>
                        }
                        else if (isNotOwner(recipe))
                        {
                            @for (int i = 1; i <= 5; i++)
                            {
                                <span class="rating-blocked">
                                    @if (i <= recipe.UserRating)
                                    {
                                        <text>★</text>
                                    }
                                    else
                                    {
                                        <text>☆</text>
                                    }
                                </span>
                            }
                        }
                        else
                        {
                            <span class="rating-text">Rating: </span>
                        }
                        <span class="recipe-vote">@recipe.Rating (@recipe.VoteCount)</span>
                    </p>
                    <p>
                        @descriptionSubstr(recipe)
                        @if (recipe.Description.Length > 100)
                        {
                            <text>...</text>
                        }
                    </p>
                    <a href="/Recipe/More/@recipe.Id">Read More</a>
                </div>
            </article>
        }
    </div>
</section>
<section class="new-dishes">
    <div class="new-dishes-title">
        <h2>New dishes</h2>
        <hr>
    </div>
    <div class="new-dishes-images">
        @foreach (var recipe in Model.LastAddedRecipes)
        {
            <a href="/Recipe/More/@recipe.Id" data-img-name="@recipe.Name">
                <img src="@recipe.ImagePath" alt="@recipe.Name">
            </a>
        }
    </div>
</section>
<section class="chefs">
    <div class="chefs-title">
        <h2>Chefs</h2>
        <hr>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="create-recipe-button">
            <a href="/Administration/Chef/Create">Create</a>
        </div>
    }
    <div class="chefs-content">
        @foreach (var chef in Model.Chefs)
        {
            <article>
                <a href="/Administration/Chef/Update/@chef.Id">
                    <i class="fas fa-pen"></i>
                </a>
                <a href="/Administration/Chef/Delete/@chef.Id">
                    <i class="fas fa-times"></i>
                </a>
                <div>
                    <img src="@chef.ImagePath" alt="chef-@chef.LastName">
                </div>
                <h4>Chef @chef.LastName</h4>
                <p>@chef.Description</p>
            </article>
        }
    </div>
</section>