@model CulinaryBlogCore.Models.RecipeViewModels.RecipeHomeViewModel;

@using CulinaryBlogCore.Models.RecipeViewModels;

@{
    ViewData["Title"] = "Cooking";
    Func<RecipeViewModel, string> descriptionSubstr = (r) => r.Description.Substring(0, Math.Min(r.Description.Length, 100));
    Func<RecipeViewModel, bool> isNotOwner = (r) => User.Identity.IsAuthenticated && Model.CurrUserId != r.UserId;
}

<section class="site-logo">
    <div>
        <h2>Cooking</h2>
        <hr>
        <p>easy and fun</p>
    </div>
</section>
<section class="about-us">
    <div>
        <h2>About us</h2>
        <hr>
        <p>We are professionals in this area.</p>
    </div>
    <p>
        We are a group of young people for whom cooking is a hobby. Here you will find interesting recipes that are easy to prepare. Our goal is to save your time and show you that cooking can be both art and entertainment. The products used are healthy and low calorie. We've picked recipes from all over the world to experience other cultures and tastes. We are very keen to get feedback from you.
    </p>
</section>
<section class="best-receipts">
    <div class="best-receipts-title">
        <h2>Best recipes of the week</h2>
        <hr>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="create-recipe-button">
            @if (User.IsInRole("Admin"))
            {
                <a href="/Administration/Recipe/Create">Create</a>
            }
            else
            {
                <a href="/Recipe/Create">Create</a>
            }
        </div>
    }
    <div class="best-receipts-posts">
        @foreach (RecipeViewModel recipe in Model.RecipesByRating)
        {
            @functions { 
                public string GetUserRatingClass(RecipeViewModel recipe) {
                    return recipe.UserRating == 0 ? "rating" : "rating-already";
                }
            }
            <article>
                @if (User.IsInRole("Admin") || Model.CurrUserId == recipe.UserId)
                {
                    <a href="/Recipe/Update/@recipe.Id">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="/Recipe/Delete/@recipe.Id">
                        <i class="fas fa-times"></i>
                    </a>
                }
                <div>
                    <img src="@recipe.ImagePath" alt="pasta">
                </div>
                <div>
                    <h4>@recipe.Name</h4>
                    <p class="@GetUserRatingClass(recipe)">
                        @if (isNotOwner(recipe) && recipe.UserRating == 0)
                        {
                            <span class="ratring-stars" data-recipe-id="@recipe.Id">
                                @for (int i = 5; i >= 1; i--)
                                {
                                    <span class="rating-star" data-rating="@i">☆</span>
                                }
                            </span>
                        }
                        else if (isNotOwner(recipe))
                        {
                            @for (int i = 1; i <= 5; i++)
                            {
                                <span class="rating-blocked">
                                    @if (i <= recipe.UserRating)
                                    {
                                        <text>★</text>
                                    }
                                    else
                                    {
                                        <text>☆</text>
                                    }
                                </span>
                            }
                        }
                        else
                        {
                            <span class="rating-text">Rating: </span>
                        }
                        <span class="recipe-vote">@recipe.Rating (@recipe.VoteCount)</span>
                    </p>
                    <p>
                        @descriptionSubstr(recipe)
                        @if (recipe.Description.Length > 100)
                        {
                            <text>...</text>
                        }
                    </p>
                    <a href="/Recipe/More/@recipe.Id">Read More</a>
                </div>
            </article>
        }
    </div>
</section>
<section class="new-dishes">
    <div class="new-dishes-title">
        <h2>New dishes</h2>
        <hr>
    </div>
    <div class="new-dishes-images">
        @foreach (var recipe in Model.LastAddedRecipes)
        {
            <a href="/Recipe/More/@recipe.Id" data-img-name="@recipe.Name">
                <img src="@recipe.ImagePath" alt="@recipe.Name">
            </a>
        }
    </div>
</section>
<section class="chefs">
    <div class="chefs-title">
        <h2>Chefs</h2>
        <hr>
    </div>
    <div class="chefs-content">
        <article>
            <div>
                <img src="/images/headchef.jpg" alt="chef-petrov">
            </div>
            <h4>Chef Petrov</h4>
            <p>He has been working in the culinary sphere for 15 years. There are many international awards. He was declared chef of the year in France. His specialties are desserts.</p>
        </article>
        <article>
            <div>
                <img src="/images/chef2.png" alt="chef-nikolov">
            </div>
            <h4>Chef Nikilov</h4>
            <p>His prominence has long since left the borders of Bulgaria. It recommends vegetarianism as a healthy way of life. Cooked from his childhood for 21 years.</p>
        </article>
        <article>
            <div>
                <img src="/images/chef3.jpg" alt="chef-marinov">
            </div>
            <h4>Chef Marinov</h4>
            <p>It has an interesting cooking style that combines Asian and Indian cuisine. He traveled for many years to Asia and collected his recipes from the local population.</p>
        </article>
    </div>
</section>