@model RegisterViewModel;

@{
    ViewData["Title"] = "Register";
}

<section class="register">
    <div class="register-form">
        <div class="register-header">
            <div><img src="/images/register-logo.png" alt="logo"></div>
            <h2>Register</h2>
        </div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div>
                <label>
                    <span>Name</span>
                    <input asp-for="UserName" type="text" name="@Html.NameFor(r => r.UserName)" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </label>
            </div>
            <label>
                <span>Email</span>
                <input asp-for="Email" type="email" name="@Html.NameFor(r => r.Email)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </label>
            <label>
                <span>Phone</span>
                <input asp-for="PhoneNumber" type="number" name="@Html.NameFor(r => r.PhoneNumber)" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </label>
            <label>
                <span>Password</span>
                <input asp-for="Password" type="password" name="@Html.NameFor(r => r.Password)" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </label>
            <label>
                <span>Confirm password</span>
                <input asp-for="ConfirmPassword" type="password" name="@Html.NameFor(r => r.ConfirmPassword)" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </label>
            <input type="submit" value="Register">
        }
        <p><a href="/Account/Login/">Already have registration? <i class="fas fa-arrow-right"></i></a></p>
    </div>
</section>