@model CulinaryBlogCore.Models.RecipeViewModels.CreateRecipeViewModel

@{
    ViewBag.Title = "Create recipe";
}

<section class="create-recipe register">
    <div class="register-form">
        <div class="register-header">
            <div><img src="/images/register-logo.png" alt="logo"></div>
            <h2>Create Recipe</h2>
        </div>
        @using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="names">
                <label>
                    <span>Name</span>
                    <input asp-for="Name" type="text" name="@Html.NameFor(r => r.Name)" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </label>
            </div>
            <label>
                <span>Description</span>
                <textarea asp-for="Description" type="text" name="@Html.NameFor(r => r.Description)"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </label>
            <label>
                <span>Preparation time</span>
                <input asp-for="PreparationTime" type="time" name="@Html.NameFor(r => r.PreparationTime)">
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </label>
            <label>
                <span>Cooking time</span>
                <input asp-for="CookingTime" type="time" name="@Html.NameFor(r => r.CookingTime)">
                <span asp-validation-for="CookingTime" class="text-danger"></span>
            </label>
            <label>
                <span>Portions</span>
                <input asp-for="Portions" type="number" name="@Html.NameFor(r => r.Portions)">
                <span asp-validation-for="Portions" class="text-danger"></span>
            </label>
            <label>
                <span>Category</span>
                @Html.DropDownListFor(
                    x => x.CategoryId,
                    new SelectList(Model.Categories, "Id", "Name"),
                    "Select one"
                )
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </label>
            <label>
                <span>Image</span>
                <input asp-for="Image" type="file" name="@Html.NameFor(r => r.Image)">
                <span asp-validation-for="Image" class="text-danger"></span>
            </label>
            <input type="submit" value="Create">
        }
    </div>
</section>