@using CulinaryBlogCore.Models.RecipeViewModels;
@model CulinaryBlogCore.Models.RecipeViewModels.RecipeDetailsViewModel;

@{
    ViewData["Title"] = "Details Recipe";
}
<section class="receipt salads">
    @foreach (RecipeDetailsViewModel recipe in Model.Recipes)
    {
        <article>
            <h2>@recipe.Name</h2>
            <div class="receipt-header">
                <ul>
                    <li><h4>Preparation</h4> <i class="far fa-clock"></i> <span>@recipe.PreparationTime.ToString("hh:mm") min</span></li>
                    <li><h4>Cooking</h4> <i class="fas fa-cookie-bite"></i> <span>@recipe.CookingTime.ToString("hh:mm") min</span></li>
                    <li><h4>Portions</h4> <i class="fas fa-coffee"></i> <span>@recipe.Portions</span></li>
                </ul>
                <div class="votes">
                    @for (int i = 0; i < Math.Round(recipe.Rating); i++)
                    {
                        <i class="fas fa-star"></i>
                    }

                    @for (int i = (int)Math.Round(recipe.Rating); i < 5; i++)
                    {
                        <i class="far fa-star"></i>
                    }

                    <span>@recipe.Rating</span>
                </div>
            </div>
            <div class="receipt-main">
                <div class="receipt-main-image">
                    <img src="@recipe.ImagePath" alt="salad-healthy">
                </div>
                <div class="receipt-main-products">
                    <h4><a href="#" class="add-product-button"><i class="fas fa-cart-plus"></i></a>Products:</h4>
                    <ol class="ol-products">
                        @foreach (var product in recipe.Products) { 
                            <li value="@product.Id"><span class="remove-product"><i class="fas fa-trash"></i></span> @product.Name</li>
                         }
                    </ol>
                    <div class="add-product-block">
                        <input type="text" class="product-input" />
                        <input type="hidden" class="recipe-id" value="@recipe.Id" />
                        <button class="product-add"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="receipt-content">
                <h4>Receipt:</h4>
                <p>@recipe.Description</p>
            </div>
        </article>
    }
</section>